@{
	ViewData["Title"] = "Start Chatting";
}


<div class="alert alert-success" id="userActivityInfo" style="display: none; text-align: center;">
</div>
<div class="row">
	<div class="col-md-3 col-log-3">
		<div class="index-card">
			<div>
				<h3>Welcome</h3>
				<br />
				<input type="text" placeholder="User Name" class="form-control" id="userName" />
				<br />
				<button id="joinBtn" type="button" class="btn btn-light btn-outline-dark">Start Chatting</button>
			</div>
		</div>
		<br />
		<br />
		<div class="index-card">
			<div>
				<h3>Create Room</h3>
				<br />
				<input type="text" placeholder="Room Name" class="form-control disabled" id="roomName" />
				<br />
				<button id="addRoomBtn" type="button" class="btn btn-light btn-outline-dark" disabled>Add Room</button>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6" style="background-color:lavender;">
		<br />
		<div style="height: 60%; background-color: white;" class="overflow-auto form-control">
			<div class="list-group messages">
				<a href="#" class="list-group-item list-group-item-action message">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1"></h5>
						<h5 class="mb-1"></h5>
					</div>
					<p class="mb-1">MESSAGES</p>
				</a>
			</div>
		</div>
		<br />
		<div>
			<label for="msgArea" class="form-label">Write your message...</label>
			<textarea class="form-control disabled" id="msgArea" rows="2"></textarea>
			<br />
			<div style="display:flex; justify-content: right;">
				<button type="button" class="btn btn-light btn-outline-dark" id="sendMsgBtn" disabled>Send</button>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-lg-3">
		<h3>Online Users</h3>
		<div class="list-group" id="userList" role="tablist">
			<a href="#" class="list-group-item list-group-item-action users" data-toggle="list" role="tab">All</a>
			<div id="_users"></div>
		</div>
		<br />
		<h3>Active Rooms</h3>
		<div class="list-group" id="userList" role="tablist">
			<a href="#" class="list-group-item list-group-item-action rooms" data-toggle="list" role="tab">All</a>
			<div id="_rooms"></div>
		</div>
		<button id="joinRoomBtn" type="button" class="btn btn-light btn-outline-dark" disabled>Join Selected Room</button>
	</div>
</div>

@section Scripts {
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
	<script>
		$(document).ready(() => {

			// build and start Signal R connection between client and hub
			const hubConnection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44327/chathub").build();

			hubConnection.start();

			$(".disabled").attr("disabled", "disabled");

			// send client's user name to hub
			$("#joinBtn").click(() => {
				const userName = $("#userName").val();
				hubConnection.invoke("GetUserName", userName).catch(error => console.log(error));
				$(".disabled").removeAttr("disabled");
				$(".btn").removeAttr("disabled");
				$("#joinBtn").prop("disabled", true);
				$("#userName").prop("disabled", true);
			});

			// get new client's name from hub and show a notification message on screen
			hubConnection.on("userJoined", userName => {
				$("#userActivityInfo").html(userName + " has just joined!")
				$("#userActivityInfo").fadeIn(5000, () => {
					setTimeout(() => {
						$("#userActivityInfo").fadeOut(2000);
					}, 2000);
				})
			});

			// get all users from hub
			hubConnection.on("getClients", clients => {
				$("#_users").html("");
				$.each(clients, (index, item) => {
					const user = $(".users").first().clone();
					user.html(item.userName);
					$("#_users").append(user);
				});
			});

			$('body').on('click', '.users', function (e) {
				$(".users").each((index, item) => {
					$(item).removeClass("active");
				});
				$(this).addClass("active");
			});

			// send message and receiver client name to hub
			$("#sendMsgBtn").click(() => {
				const clientName = $(".users.active").first().html();
				const message = $("#msgArea").val();
				hubConnection.invoke("SendMessageAsync", message, clientName).catch(error => console.log(error));
				const msg = $(".message").clone();
				msg.removeClass("message");
				msg.find("p").html(message);
				msg.find("div h5")[1].innerHTML = "You";
				$(".messages").append(msg);
			});

			// receive sent messages through hub
			hubConnection.on("receiveMessage", (message, username) => {
				const msg = $(".message").clone();
				msg.removeClass("message");
				msg.find("p").html(message);
				msg.find("div h5")[0].innerHTML = username;
				$(".messages").append(msg);
			});

			// send new room's name to hub
			$("#addRoomBtn").click(() => {
				const roomName = $("#roomName").val();
				hubConnection.invoke("AddGroup", roomName).catch(error => console.log(error));
			});

			// get all rooms from hub
			hubConnection.on("getRooms", rooms => {
				$("#_rooms").html("");
				$.each(rooms, (index, item) => {
					const room = $(".rooms").first().clone();
					room.html(item.groupName);
					$("#_rooms").append(room);
				});
			});

			$('body').on('click', '.rooms', function (e) {
				$(".rooms").each((index, item) => {
					$(item).removeClass("active");
				});
				$(this).addClass("active");
				hubConnection.invoke("GetClientsInGroup", $(this).text()).catch(error => console.log(error));
			});

			// send selected room's name to hub for being added to group
			$("#joinRoomBtn").click(() => {
				var roomName = $(".rooms.active").first().html();

				console.log("room name : " + roomName);

				if(roomName == "All") {
					alert("Please select a room!");
				}
				else
				{
					hubConnection.invoke("AddClientToGroup", roomName).catch(error => console.log(error));
				}

			});

		});
	</script>
}